{% extends 'blog_base.html' %}
{% block blog %}



    <!--Page Title-->
    <section class="page-title">
        <div class="layer-outer">
            <span class="layer-image wow slideInDown" data-wow-duration="2000ms"></span>
        </div>
        <div class="auto-container">
            <h1>Recent News</h1>
            <div class="bread-crumb">Latest news about our community </div>
        </div>
    </section>
    <!--End Page Title-->

    <!-- Sidebar Page Container -->
    <div class="sidebar-page-container">
        <div class="auto-container">
            <div class="row">
                <!--Content Side-->
                <div class="content-side col-lg-9">
                    <div class="blog-classic">

                        <!-- News Block -->
                        <div class="news-block-one wow fadeInUp">
                            <div class="inner-box">
                                <div class="image-box">
                                    <figure class="image"><a href="blog-single.html"><img src="images/resource/news-1.jpg" alt=""></a></figure>
                                </div>
                                <div class="lower-content">
                                    <div class="date"><strong>25</strong>Feb</div>
                                    <ul class="category">
                                        <li><a href="#">Application,</a> </li>
                                        <li><a href="#">Design,</a> </li>
                                        <li><a href="#">UIUX</a> </li>
                                    </ul>
                                    <h2><a href="blog-single.html">Generate attractive content easily</a></h2>
                                    <ul class="info">
                                        <li><i class="icon pe-7s-user"></i> Written by Tom Brenett</li> 
                                        <li><i class="icon pe-7s-comment"></i> 10 Comments</li> 
                                        <li><i class="icon pe-7s-look"></i> 842</li> 
                                    </ul>  
                                    <div class="text">Veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea duis aute irure dolor in reprehenderit indus velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non reprehenderit in voluptate esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat... </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="link-box">
                                                <a href="#" class="theme-btn">Read More <i class="fas fa-arrow-right"></i></a>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <ul class="social-icon-one clearfix text-sm-right">
                                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                                <li><a href="#"><i class="fab fa-behance"></i></a></li>
                                                <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- News Block -->
                        <div class="news-block-one wow fadeInUp">
                            <div class="inner-box">
                                <div class="image-box">
                                    <figure class="image"><a href="blog-single.html"><img src="images/resource/news-2.jpg" alt=""></a></figure>
                                </div>
                                <div class="lower-content">
                                    <div class="date"><strong>22</strong>Feb</div>
                                    <ul class="category">
                                        <li><a href="#">marketing,</a> </li>
                                        <li><a href="#">development,</a> </li>
                                    </ul>
                                    <h2><a href="blog-single.html">Marketing analytics produce growth</a></h2>
                                    <ul class="info">
                                        <li><i class="icon pe-7s-user"></i> Written by Tom Brenett</li> 
                                        <li><i class="icon pe-7s-comment"></i> 12 Comments</li> 
                                        <li><i class="icon pe-7s-look"></i> 572</li> 
                                    </ul>  
                                    <div class="text">Veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea duis aute irure dolor in reprehenderit indus velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non reprehenderit in voluptate esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat... </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="link-box">
                                                <a href="#" class="theme-btn">Read More <i class="fas fa-arrow-right"></i></a>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <ul class="social-icon-one clearfix text-sm-right">
                                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                                <li><a href="#"><i class="fab fa-behance"></i></a></li>
                                                <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- News Block -->
                        <div class="news-block-one wow fadeInUp">
                            <div class="inner-box">
                                <div class="image-box">
                                    <figure class="image"><a href="blog-single.html"><img src="images/resource/news-3.jpg" alt=""></a></figure>
                                </div>
                                <div class="lower-content">
                                    <div class="date"><strong>18</strong>Feb</div>
                                    <ul class="category">
                                        <li><a href="#">Application,</a> </li>
                                        <li><a href="#">Design,</a> </li>
                                        <li><a href="#">UIUX</a> </li>
                                    </ul>
                                    <h2><a href="blog-single.html">Generate attractive content easily</a></h2>
                                    <ul class="info">
                                        <li><i class="icon pe-7s-user"></i> Written by Tom Brenett</li> 
                                        <li><i class="icon pe-7s-comment"></i> 10 Comments</li> 
                                        <li><i class="icon pe-7s-look"></i> 842</li> 
                                    </ul>  
                                    <div class="text">Veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea duis aute irure dolor in reprehenderit indus velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non reprehenderit in voluptate esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat... </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="link-box">
                                                <a href="#" class="theme-btn">Read More <i class="fas fa-arrow-right"></i></a>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <ul class="social-icon-one clearfix text-sm-right">
                                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                                <li><a href="#"><i class="fab fa-behance"></i></a></li>
                                                <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- News Block -->
                        <div class="news-block-one wow fadeInUp">
                            <div class="inner-box">
                                <div class="image-box">
                                    <figure class="image"><a href="blog-single.html"><img src="images/resource/news-4.jpg" alt=""></a></figure>
                                </div>
                                <div class="lower-content">
                                    <div class="date"><strong>14</strong>Feb</div>
                                    <ul class="category">
                                        <li><a href="#">MARKETING,</a> </li>
                                        <li><a href="#">DEVELOPMENT,</a> </li>
                                    </ul>
                                    <h2><a href="blog-single.html">Marketing analytics produce growth</a></h2>
                                    <ul class="info">
                                        <li><i class="icon pe-7s-user"></i> Written by Tom Brenett</li> 
                                        <li><i class="icon pe-7s-comment"></i> 16 Comments</li> 
                                        <li><i class="icon pe-7s-look"></i> 970</li> 
                                    </ul>  
                                    <div class="text">Veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea duis aute irure dolor in reprehenderit indus velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non reprehenderit in voluptate esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat... </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="link-box">
                                                <a href="#" class="theme-btn">Read More <i class="fas fa-arrow-right"></i></a>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <ul class="social-icon-one clearfix text-sm-right">
                                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                                <li><a href="#"><i class="fab fa-behance"></i></a></li>
                                                <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="page_pagination_two">
                            <ul class="clearfix">
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#"><span class="fas fa-arrow-right"></span></a></li>
                            </ul> 
                        </div>
                    </div>
                </div>

                <!--Sidebar Side-->
                <div class="sidebar-side col-lg-3">
                    <aside class="sidebar">
                        <!-- Search Box -->
                        <div class="sidebar-widget search-box">
                            <div class="widget-content">
                                <form method="post" action="http://html.tonatheme.com/2019/Saasweb/blog.html">
                                    <div class="form-group">
                                        <input type="search" name="search-field" value="" placeholder="Search" required="">
                                        <button type="submit"><i class="pe-7s-search"></i></button>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <!-- Post Widget -->
                        <div class="sidebar-widget post-widget">
                            <div class="sidebar-title"><h4>Latest News</h4></div>
                            <div class="widget-content">
                                <!-- Post -->
                                <article class="post">
                                    <div class="thumb"><a href="blog-single.html"><img src="images/resource/post-thumb-1.jpg" alt=""></a></div>
                                    <h5><a href="blog-single.html">Get full control  over data & source</a></h5>
                                    <div class="date">March 14, 2019</div>
                                </article>

                                <!-- Post -->
                                <article class="post">
                                    <div class="thumb"><a href="blog-single.html"><img src="images/resource/post-thumb-2.jpg" alt=""></a></div>
                                    <h5><a href="blog-single.html">Programs for SAAS makes it easier</a></h5>
                                    <div class="date">May 10, 2019</div>
                                </article>

                                <!-- Post -->
                                <article class="post">
                                    <div class="thumb"><a href="blog-single.html"><img src="images/resource/post-thumb-3.jpg" alt=""></a></div>
                                    <h5><a href="blog-single.html">Development career for dummies</a></h5>
                                    <div class="date">April 16, 2019</div>
                                </article>
                            </div>
                        </div>

                        <!-- Category Widget -->
                        <div class="sidebar-widget categories">
                            <div class="sidebar-title"><h4>Categories</h4></div>
                            <div class="widget-content">
                                <ul class="category-list">
                                    <li><a href="blog-single.html">SaaS Build<span>(90)</span></a></li>
                                    <li><a href="blog-single.html">Applications <span>(81)</span></a></li>
                                    <li><a href="blog-single.html">Creative <span>(67)</span></a></li>
                                    <li><a href="blog-single.html">Development <span>(520)</span></a></li>
                                    <li><a href="blog-single.html">Idealogy <span>(8)</span></a></li>
                                    <li><a href="blog-single.html">Innovation <span>(14)</span></a></li>
                                    <li><a href="blog-single.html">Technology <span>(23)</span></a></li>
                                </ul>
                            </div>
                        </div>

                        <!-- Popular tags -->
                        <div class="sidebar-widget tags-widget">
                            <div class="sidebar-title"><h4>Tags</h4></div>                      
                            <ul class="tag-list clearfix">
                                <li><a href="#">Android</a></li>
                                <li><a href="#">Develop</a></li>
                                <li><a href="#">SaaS</a></li>
                                <li><a href="#">Web</a></li>
                                <li><a href="#">Process</a></li>
                                <li><a href="#">Application</a></li>
                                <li><a href="#">Music</a></li>
                                <li><a href="#">Creative</a></li>
                                <li><a href="#">Web Design</a></li>
                                <li><a href="#">Guides</a></li>
                            </ul> 
                        </div>

                        <!-- Feature Widget -->
                        <div class="sidebar-widget feature-widget">                   
                            <div class="inner-box">
                                <div class="image"><img src="images/resource/feature-10.jpg" alt=""></div>
                                <div class="logo"><img src="images/logo-2.png" alt=""></div>
                            </div> 
                        </div>
                        
                        <!-- End Widget -->
                    </aside>
                </div>
            </div>
        </div>
    </div>
    <!--End Blog List -->

	
{% endblock blog %}
